.opacty-button {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.opacty-button:hover {
    opacity: 95%;
}

.bgT-button {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.bgT-button:hover {
    background-color: #fbfbfb;
}

.errInputValidation{
    box-shadow: 0.05rem 0.05rem 0.05rem var(--danger);
}

.sucessInputValidation{
    box-shadow: 0.05rem 0.05rem 0.05rem var(--secondary-green);
}