.opacty-button {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.opacty-button:hover {
    opacity: 95%;
}

.bgT-button {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.bgT-button:hover {
    background-color: #fbfbfb;
}

.errInputValidation{
    border: 0.1rem solid !important;
    border-color: var(--danger) !important;
}

.sucessInputValidation{
    border: 0.1rem solid !important;
    border-color: var(--secondary-green) !important;
}