body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bt-ops {
  position: absolute;
  top: 4rem;
  right: 1rem;
  background-color: transparent;
  border: 0;
}

.portable-page {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./public/img/background-landing.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: right;
  background-position-y: bottom;
}

.anc-back {
  position: absolute;
  top: 4rem;
  left: 3.2rem;
}

.portable-page .landing {
  max-width: 32rem;
  text-align: center;
}

.portable-page .landing .title {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(95, 95, 95);
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portable-page .landing .title svg{
  margin-right: 0.4rem;
}

.portable-page .landing .subtitle {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.portable-page .landing, .main {
  margin: 0.8rem;
}

.portable-page .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portable-page .main .btn {
  margin-top: 1.1rem;
  background-color: transparent;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.2rem;
  font-weight: 500;
  text-align: left;
  
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  color: #fbfbfb;
  background-color:rgb(95, 95, 95);
  border-radius: 0.6rem;
  padding: 8.2rem;
  padding-top: 0.6rem;
  padding-bottom:0.6rem;
}

.portable-page .main .btn:last-child {
  background-color:transparent;

  color: rgb(95, 95, 95);
  margin-top: 2rem;
}

.portable-page .main .btn svg {
  margin-right: 1rem;
}

@media (min-width: 820px) {
  .portable-page .main {
    width: 50%;
  }
}
@media (min-width: 1080px) {
  .portable-page {
    background-size: 10%;
  }
  .portable-page .landing, .main {
    margin: 0.7rem;
    margin-left: 3.5rem;
  }

  .portable-page .landing {
    max-width: 52rem;
  }

  .portable-page .main .btn {
    padding: 10rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 2rem;
    margin-bottom: 0rem;
  }
}
