body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bt-ops {
  position: absolute;
  top: 4rem;
  right: 1rem;
  background-color: transparent;
  border: 0;
}

.portable-page {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./public/img/background-landing.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: right;
  background-position-y: bottom;
}

.anc-back {
  position: absolute;
  top: 4rem;
  left: 3.2rem;
}

.portable-page .landing {
  max-width: 32rem;
  text-align: center;
}

.portable-page .landing .title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-strong);
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portable-page .landing .title svg{
  margin-right: 0.4rem;
}

.portable-page .landing .subtitle {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.portable-page .landing, .main {
  margin: 0.8rem;
}

.portable-page .main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portable-page .main form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.portable-page .main form input {
  border: 0;
}

.portable-page .main form input[type=text], .main form input[type=password] {
  border: 0.1rem solid #e4e4e4;
  margin-bottom: 0.2rem;
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  font-weight: 500;
}

.portable-page .main form input[type=text]:focus, .main form input[type=password]:focus {
  background-color: #fbfbfb;
}

.portable-page .main .btn-register {
  margin-top: 1.1rem;
  background-color: var(--secondary-green);
  color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.portable-page .main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.portable-page .main .ops {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portable-page .main .ops .btn {
  margin-top: 1.1rem;
  background-color: transparent;
  padding: 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: left;
  min-width: 30rem;
  display: flex;
  align-items: center;
}

.portable-page .main .ops .btn svg {
  margin-right: 0.5rem;
}

.portable-page .main .ops .btn-post {
  border: 0.1rem solid var(--background-purple);
  color: var(--background-purple);
}

.portable-page .main .ops .btn-new {
  border: 0.1rem solid var(--primary-green);
  color: var(--primary-green);
}

.portable-page .main .ops .btn-goSite {
  border: 0.1rem solid var(--background-purple);
  color: var(--background-purple);
}

#box {
  position: absolute;
  top: 5.8rem;
  right: 3.1rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  transition-property: color;
}

#box a:hover {
  color: var(--text-color);
}

#box .btn-account {
  color: var(--title-animed);
  margin-bottom: 1rem;
}

#box .btn-leave {
  color: var(--danger);
  margin-top: 1rem;
}

@media (min-width: 820px) {
  .portable-page .main {
    width: 50%;
  }
}
@media (min-width: 1080px) {
  .portable-page {
    background-size: 10%;
  }
  .portable-page .landing, .main {
    margin: 0.7rem;
    margin-left: 3.5rem;
  }
  .portable-page .main {
    width: 35%;
  }
  .anc-back {
    position: absolute;
    top: 4rem;
    left: 3rem;
  }
  .portable-page .main form input[type=text], .main form input[type=password] {
    border: 0.1rem solid #e4e4e4;
  }
  .bt-ops {
    position: absolute;
    top: 4rem;
    right: 3rem;
  }
  #box {
    position: absolute;
    top: 6rem;
    right: 5rem;
  }
}
